{% extends '::layout.html.twig' %}

{% block content -%}
    <a href="{{ path('portfolio_show',{'id':stat.id}) }}">Вернуться к портфелю</a>
    <div>
        {{ form(form) }}
    </div>

    <div class="raphael">
        <div id="holder"></div>
    </div>

    <table>
        <tr>
            <th>Дата</th>
            {% for cm in stat.getCompany() %}
                <th>{{ cm.getCodeCompany() }}</th>
            {% endfor %}
            <th>Среднее</th>
        </tr>
        {% for key,statItem in stat.getStat() %}
            <tr>
                <td>{{ key }}</td>
                {% for company in statItem  %}
                    <td>{{ company['open'] }}</td>
                {% endfor %}
                <td>{{ stat.getAvgStatInDay(key)}}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}

{% block javascripts %}
<script>
    window.onload = function () {
        var r = Raphael("holder"),
                txtattr = { font: "12px sans-serif" };

        var x = [ {% for statItem in stat.getStat() %} {{ loop.index }}, {% endfor %} ], y = [{% for key,statItem in stat.getStat() %} {{ stat.getAvgStatInDay(key) }}, {% endfor %} ];


        r.text(160, 10, "Среднее значение портфеля за период по датам (на момент открытия)").attr(txtattr);


        r.linechart(10, 10, 700, 300, x, y).hoverColumn(function () {
            this.set = r.set(
                    r.circle(this.x, this.y[0])
            );
        }, function () {
            this.set.remove();
        });




        // lines.lines[0].animate({"stroke-width": 6}, 1000);
        // lines.symbols[0].attr({stroke: "#fff"});
        // lines.symbols[0][1].animate({fill: "#f00"}, 1000);
    };
</script>
{% endblock %}